@font-face {
    font-family: Aileron;
    src: url(Aileron-Regular.otf);
}
body{
    font-family: Aileron;
    margin: 0;
    padding: 0;
    background-color: #2A2E2F;
    color: white;
    text-align: center;
}
a{
    color: white;
}
.home{
    color: #00B5C4;
}
nav div{
    width: 960px;
    margin: 0 auto;
}
ul{
    list-style: none;
    text-decoration: none;
    font-size: 18px;
    margin: 0;
    padding: 10px 0 20px 0;
}
li{
    display: inline-block;
    padding: 20px;
    width: 10.2%;
}
section{
    max-width: 1080px;
    margin: 0 auto;
    margin-bottom: 20px;
}
h1{
    font-size: 48px;
}
h3{
    font-size: 28px;
}
h2{
    text-align: center;
    font-size: 18px;
    font-weight: normal;
}
hr{
    width: 1280px;
}
footer{
    background-color: #00B5C4;
    margin: 0;
    padding: 0;
}
footer div{
    width: 960px;
    margin: 0 auto;
    display: flex;
}
footer div article{
    width: 50%;
}
footer div article ul{
    padding-top: 30px;
}
.list a li{
    text-decoration: underline white 2px;
}
.list li{
    width: 100%;
    padding: 10px;
}
@media only screen and (max-width: 960px) {
    h1{
        font-size: 32px;
    }
    h2{
        font-size: 16px;
    }
    h3{
        font-size: 24px;
    }
    nav div{
        width: 100%;
    }
    li{
        width: 100%;
        padding: 30px 0;
    }
    section{
        width: 90%;
    }
    .logo{
        width: 200px;
        padding: 20px 0;
    }
    hr{
        width: 90%;
    }
    footer div{
        width: 95%;
    }
    footer div article{
        width: 100%;
    }
}