@font-face {
    font-family: Aileron;
    src: url(Aileron-Regular.otf);
}
body{
    font-family: Aileron;
    margin: 0;
    padding: 0;
    background-color: #2A2E2F;
    color: white;
    text-align: center;
}
#slider{
    overflow: hidden;
    width: 100%;
    height: auto;
}
#slider figure{
    position: relative;
    width: 600%;
    margin: 0;
    left: 0;
    animation: 15s slider infinite;
}
#slider img{
    float: left;
    width: 16.67%;
}
@keyframes slider{
    0%{
        left: 0;
    }
    20%{
        left: 0;
    }
    25%{
        left:-100%;
    }
    45%{
        left: -100%;
    }
    50%{
        left: -200%;
    }
    70%{
        left: -200%;
    }
    75%{
        left: -300%;
    }
    95%{
        left: -300%;
    }
    100%{
        left: -400%;
    }
}
header{
    position: relative;
}
.title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
a{
    color: white;
}
.home{
    color: #00B5C4;
}
nav div{
    width: 960px;
    margin: 0 auto;
}
ul{
    list-style: none;
    text-decoration: none;
    font-size: 18px;
    margin: 0;
    padding: 10px 0 20px 0;
}
li{
    display: inline-block;
    padding: 20px;
    width: 10.2%;
}
header div{
    width: 960px;
    margin: 0 auto;
}
h1{
    font-size: 54px;
    margin: 0;
    color: white;
    font-weight: normal;
    opacity: 1;
}
button{
    width: 30%;
    font-size: 16px;
    font-weight: bolder;
    padding: 20px;
    color: white;
    background-color: transparent;
    border: #00B5C4 3px solid;
    border-radius: 10px;
    margin: 20px 20px 20px 20px;
}
.know{
    background-color: #51585b;
}
.know div{
    width: 960px;
    margin: 0 auto;
}
p{
    font-size: 20px;
    line-height: 1.5;
}
.cover{
    margin-bottom: 50px;
}
.cover div{
    width: 960px;
    margin: 0 auto;
    padding: 0;
}
h2{
    font-size: 48px;
}
.cover div div{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: stretch;
    gap: 10px;
    row-gap: 30px;
}
.cover article{
    width: 30%;
}
.cover article img{
    border-radius: 4px;
}
article p{
    line-height: 1.3;
}
.sectioned div div article i{
    font-size: 72px;
    margin: 20px 0;
}
h3{
    font-size: 32px;
}
.sectioned{
    margin-bottom: 20px;
}
.sectioned div{
    width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}
.sectioned div div{
    width: 44.3%;
    padding: 20px;
    background-color: #51585b;
    border-radius: 5px;
    border: white solid 2px;
}
footer{
    background-color: #00B5C4;
    margin: 0;
    padding: 0;
}
.home2{
    color: black;
}
footer div{
    width: 960px;
    margin: 0 auto;
    display: flex;
}
footer div article{
    width: 50%;
}
footer div article ul{
    padding-top: 30px;
}
.list a li{
    text-decoration: underline white 2px;
}
.list li{
    width: 100%;
    padding: 10px;
}
.sectioned div div article i{
    color: #00B5C4;
}
.second_header{
    display: none;
}
@media only screen and (max-width: 1400px) {
    #slider{
        height: auto;
    }
    .second_header{
        height: auto;
    }
}
@media only screen and (max-width: 960px) {
    .first_header{
        display: none;
    }
    .know div h1{
        font-size: 24px;
    }
    .second_header{
        display: block;
    }
    #bg{
        overflow: hidden;
        width: 100%;
        height: auto;
    }
    #bg img{
        position: relative;
        float: left;
    }
    .title2{
        width: 90%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .title2 h1{
        font-size: 32px;
        padding-bottom: 30px;
    }
    button{
        width: 100%;
    }
    nav div{
        width: 100%;
    }
    li{
        width: 100%;
        padding: 30px 0;
    }
    header div{
        width: 100%;
    }
    h1{
        width: 90%;
        margin: 0 auto;
        font-size: 32px;
    }
    button{
        margin-bottom: 30px;
        width: 40%;
    }
    .know div{
        width: 90%;
    }
    .cover div{
        width: 90%;
    }
    .cover article{
        width: 100%;
    }
    .sectioned div{
        width: 95%;
    }
    .sectioned div div{
        width: 100%;
    }
    .logo{
        width: 200px;
        padding: 20px 0;
    }
    footer div{
        width: 95%;
    }
    footer div article{
        width: 100%;
    }
  }
@media only screen and (min-width: 700px) {
    .title2 h1{
        font-size: 52px;
        padding-bottom: 30px;
    }
}